<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sisensing.common"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--    <uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!--Android 13后文件权限没有了，细分未其他权限。并且无法读取其他目录的文件-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!--适配Android 13 图片文件权限-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Android 12以下才需要定位权限， Android 9以下官方建议申请ACCESS_COARSE_LOCATION -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android 12在不申请定位权限时，必须加上android:usesPermissionFlags="neverForLocation"，否则搜不到设备 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!--屏幕解锁-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application>
        <service android:name=".ble.LocalBleServiceProxy" />
        <service
            android:name=".ble.BsUploadService"
            android:permission="android.permission.BIND_JOB_SERVICE" />


        <receiver android:name=".notification.NotificationClickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="CLICK_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
